@import url("variable.css");
@import url("header.css");
@import url("hero.css");

.skill {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.skill span {
  display: inline-block;
  width: 100px;
  font-weight: bold;
}

.skill-bar {
  flex: 1;
  height: 20px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.skill-progress {
  height: 100%;
  background-color: #4caf50;
}

.tick {
  color: #4caf50;
  margin-left: 0.5rem;
}
